
*~
*.o
*.ko
*.a

/build*
/.config
/release
/debug

/windows_build

*.log

/.cproject
/.project
/.settings

/valgrind.out
/gmon.out

# static analysis output
/analysis

# astyle backup files
*.astyle.orig

/Makefile*
/qMasterPassword

moc_*.cpp
ui/ui_*.h
*.pro.user
*.qm

