
*~
*.o
*.ko
*.a

/build*
/install
/windeploy
/nsis
/.config
/release
/debug

/windows_build

# flatpak bundle copied out from act-cli container for testing
# flatpak --user install --bundle ./io.github.bkueng.qMasterPassword
/io.github.bkueng.qMasterPassword

*.log

/.cproject
/.project
/.settings

/valgrind.out
/gmon.out

# static analysis output
/analysis

/Makefile*
/qMasterPassword

moc_*.cpp
ui/ui_*.h
*.pro.user

/.qtc_clangd

/cmake-build-*
/.idea
