[Desktop Entry]
Name=qMasterPassword
GenericName=qMasterPassword
Comment=Master Password Manager
Exec=qMasterPassword
Icon=qmasterpassword
StartupNotify=true
Terminal=false
Type=Application
Categories=Utility;Security;Qt;
Version=1.0
