---
name: build-windows

on:
   workflow_call:

jobs:
  build-windows:
    name: Build against Qt ${{ matrix.qt }} on Windows
    runs-on: windows-latest

    strategy:
      matrix:
        qt: [5.15.*, 6.8.*]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64

      - name: Install NSIS
        uses: repolevedavaj/install-nsis@v1.1.0
        with:
          nsis-version: '3.11'

      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version:      ${{ matrix.qt }}
          host:         windows
          target:       desktop
          dir:          ${{ runner.temp }}/qt

      - name: Configure
        env:
          WINDEPLOY_DIR: ${{ runner.temp }}/windeploy
          NSIS_DIR: ${{ runner.temp }}/nsis
        run: |
          if (test-path ${{ runner.temp }}/build) { remove-item -recurse -force ${{ runner.temp }}/build }
          cmake -B ${{ runner.temp }}/build .

      - name: Build
        run: |
          cmake --build ${{ runner.temp }}/build --config Release

      - name: Install
        run: |
          if (test-path ${{ runner.temp }}/windeploy) { remove-item -recurse -force ${{ runner.temp }}/windeploy }
          cmake --install ${{ runner.temp }}/build --prefix ${{ runner.temp }}/windeploy

      - name: Run windeployqt
        run: |
          $env:VCINSTALLDIR="$(vswhere -latest -property installationPath)/VC"
          $env:DUMPBIN_EXE="$(vswhere -latest -find **/hostx64/x64/dumpbin.exe -sort | select -last 1)"
          cmake --build ${{ runner.temp }}/build --config Release --target windeployqt
          $env:LIBCRYPTO_NAME="$( (& "${env:DUMPBIN_EXE}" /dependents ${{ runner.temp }}/windeploy/bin/qMasterPassword.exe | select-string -pattern "libcrypto-.*\.dll").toString().trim() )"
          copy -verbose -force -path $(get-command "${env:LIBCRYPTO_NAME}").Source -destination ${{ runner.temp }}/windeploy/bin/

      - name: Build installer package
        run: |
          if (test-path ${{ runner.temp }}/nsis) { remove-item -recurse -force ${{ runner.temp }}/nsis }
          mkdir -path ${{ runner.temp }}/nsis
          cmake --build ${{ runner.temp }}/build --config Release --target makensis

      - name: Upload installer package
        uses: actions/upload-artifact@v4
        with:
          name: windows-installer
          path: ${{ runner.temp }}/nsis/qMasterPassword.exe
        if: |
          startsWith(matrix.qt, '6')
